<ix-datetime-picker></ix-datetime-picker>


<ix-key-value label="Label" value="Value" style="padding-top: 2rem;"></ix-key-value>



<form style="padding-top: 2rem;"
class="row g-3 needs-validation"
[ngClass]="{ 'was-validated': wasValidated }"
no-validate
(submit)="onSubmit($event)"
>
<div class="col-md-4">
  <label htmlFor="validationCustom01" class="form-label">
    First name
  </label>
  <input
    name="firstName"
    type="text"
    id="validationCustom01"
    [(ngModel)]="data.firstName"
    #firstName="ngModel"
    required
  />
  <div class="valid-feedback">Looks good!</div>
</div>
<div class="col-md-4">
  <ix-validation-tooltip
    message="Invalid values"
  >
    <label htmlFor="validationCustom02" class="form-label">
      Last name
    </label>
    <input
      name="lastName"
      type="text"
      id="validationCustom02"
      [(ngModel)]="data.lastName"
      #lastName="ngModel"
      required
    />
  </ix-validation-tooltip>
</div>
<div class="col-md-4">
  <label htmlFor="validationCustomUsername" class="form-label">
    Username
  </label>
  <input
    name="userName"
    type="text"
    id="validationCustomUsername"
    aria-describedby="inputGroupPrepend"
    [(ngModel)]="data.userName"
    #userName="ngModel"
    required
  />
  <div class="invalid-feedback">Please choose a username.</div>
</div>
<div class="col-12">
  <button class="btn btn-primary" type="submit">Submit form</button>
</div>
</form>
